/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "react-slideshow-image/dist/styles.css";
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

button {
  background: none;
  border: none;
  font-size: medium;
}
.container {
  position: relative;
}
.menu-header {
  background: rgb(
    0,
    0,
    0
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0);

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 40px;
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  z-index: 999;
  transition: 0.2s ease-in-out 0s;
}
/* .menuBtns {
  float: right;
} */
.menuBtn {
  margin: 0;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  /* font-weight: bold; */
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.scrolled {
  background: rgb(
    32,
    32,
    32
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(32, 32, 32, 0.7);
  padding-top: 16px;
  padding-bottom: 16px;
}
.menuBtn:hover {
  color: #ff1700;
  font-weight: bolder;
}
.menuBtnActive {
  color: #ff1700;
  font-weight: bolder;
}
.logo {
  width: 200px;
  /* height: 80px; */
  object-fit: cover;
  background: none;
}

.danceImg {
  background-image: url("dance.jpg");
  background-size: cover;
  /* background-position: center; */
  width: 100%;
  height: 420px;
}
.blackLayer {
  width: 100%;
  height: 100%;
  background: rgb(
    0,
    0,
    0
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
}
.navBar {
  display: flex;
  /* flex-direction: column; */
  /* justify-items: space-between; */
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 131.43px;
  background-color: white;
  padding-left: 240px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  color: #f05454;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  z-index: 999;
  font-size: 16px;
  box-shadow: 0px 3px 2px -2px #dad5ab;
}

.activeLink::before {
  content: ">>     ";
  color: black;
}
.about {
  padding: 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffcdc;
  /* background-image: linear-gradient(#f4e185, white); */

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1.4em;
  box-shadow: 0px 3px 2px -2px #f05454;
  /* color: #464646; */
  color: #5f5f5f;
  margin: 0 auto;
}
.aboutHeader {
  font-size: 2em;
  line-height: 1.2em;
  color: #f05454;
}
.readMore,
.goToGallery {
  text-decoration: none;
  background-color: white;
  border: solid 2px #f05454;
  border-radius: 4px;
  padding: 12px;
  color: #f05454;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  font-size: medium;
}
.readMore:hover {
  background-color: #f6f2d4;
  color: #f05454;
}
.goToGallery {
  background-color: transparent;

  color: white;
  border: solid 2px white;
}
.goToGallery:hover {
  background-color: #fbe6c2;
  color: black;
}
.ngoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 240px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* animation: showup 7s; */

  /* color: #f05454; */
}
.ngoHeading {
  color: #f05454;
  font-size: xx-large;
  font-weight: lighter;
  font-style: italic;
}
.ngoDescriptionBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ngoDescription {
  font-size: 1.5em;
  font-weight: lighter;
}
.ngoLogo {
  /* width: 100px; */
  height: 200px;
  object-fit: cover;
  background: none;
  /* float: right; */
}

.quotesPreview {
  background-image: linear-gradient(#a91d1d 50%, white 50%);
  padding: 50px;
  padding-left: 25vw;
  padding-right: 25vw;
  /* height: fit-content; */
}
.each-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.each-slide > .quotesImg {
  height: 100%;
  width: 50vh;
  object-fit: cover;
}
.each-slide > .previewImg {
  height: 100%;
  width: 60vh;
  object-fit: cover;
}

.yearBtns {
  display: flex;
}
.yearBtn {
  color: white;
  border: solid 2px white;
  padding: 8px;
}
.yearBtn:hover {
  cursor: pointer;
}
.yearBtnActive {
  background-color: #ffdfaf;
  color: black;
}
footer {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-left: 60px;
  padding-right: 60px;
  /* position: absolute;
  left: 0;
  bottom: 0;
  right: 0; */
}
.follow {
  display: flex;
  gap: 8px;
}
.socialMediaBtn {
  color: white;
  cursor: pointer;
}
.socialMediaBtn:hover {
  color: #ff1700;
}
.call {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
