.contactUs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 240px;
  padding-top: 10px;
}
.address,
.contact {
  padding: 12px;
  border-bottom: solid 0.5px gray;
  padding: 12px;
}
.email {
  padding: 12px;
}

.address:hover,
.contact:hover,
.email:hover {
  background-color: #f6f2d4;
}
