button {
  background: none;
  border: none;
}
.gallery {
  /* background: chartreuse; */
  display: flex;
  /* flex-direction: column; */
  flex: 1;
  gap: 16px;
  width: 100vw;
}
.galleryPreview {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  gap: 20px;
  background-color: #a91d1d;
  padding: 30px;
  padding-left: 25vw;
  padding-right: 25vw;
}
.galleryPreviewHeader {
  color: white;
  font-size: 52px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.imgPreview {
  width: 100%;
}
.yearsNav {
  display: flex;
  flex-direction: column;
  background-color: #a91d1d;
  /* height: 100vh; */
}
.yearNavBtn {
  color: white;
  padding: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.yearNavBtn:hover {
  background: rgb(255, 223, 175);
  background: rgba(255, 223, 175, 0.3);
  color: black;
}
.yearNavBtnActive {
  background-color: #ffdfaf;
  color: black;
}
.yearNavBtnActive:hover {
  background-color: #ffdfaf;
  color: black;
}
.galleryDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: max-content;
  /* flex: 1; */

  /* padding-top: 16px; */
  /* height: 240px; */
  align-items: center;
  gap: 16px;
}
.upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* align-items: right;
  align-content: right;
  justify-items: right; */
  padding: 24px;
  font-size: small;
}

.uploadBtn,
.deleteBtn {
  background-color: #a91d1d;
  color: white;
  margin-top: 4px;
  border-radius: 4px;
  padding: 8px;
  font-size: small;
  padding-left: 64px;
  padding-right: 64px;
  cursor: pointer;
}
.inputFile {
  /* background-color: #a91d1d; */
  width: fit-content;
}
